<div class="cart-modal-main-container">
    <div class="cart-modal-boxed border-curve">
        <h6 class="empty-cart-text" *ngIf="cartEmpty">{{cartModalText[3]}}</h6>
        <div *ngIf="!cartEmpty" class="cart-modal-body">
            <div class="cart-modal-heading f-sb">
                <h6>{{cartModalText[0].toUpperCase()}} ({{cartModalList.length}})</h6>
                <p (click)="clearList()" class="remove-text">{{cartModalText[1]}}</p>
            </div>
            <p class="click-image-text">{{cartModalText[4]}}</p>
            <app-cart-modal-item *ngFor="let item of cartModalList" [item]="item"></app-cart-modal-item>
            <div class="cart-modal-total f-sb">
                <p class="total-text">{{cartModalText[2].toUpperCase()}}</p>
                <h6>${{cartTotal.toLocaleString()}}</h6>
            </div>
            <button (click)="unToggleModal()" routerLink="/checkout" class="btn-1">
                {{buttonText}}
            </button>
        </div>
    </div>
</div>
