$tablet: 768px;
$desktop: 1024px;
$extended: 1200px;

.product-details-container {
    margin-top: 0.5rem;

    @media(min-width: $tablet) {
        display: flex;
    }

}

.product-image {
    width: 100vw;
    height: 82.699vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(min-width: $tablet) {
        background-color: var(--c);
        height: 44.75vw;
        width: 50%;
        background-size: 50%;
        margin-bottom: 6.25vw;
    }

    @media(min-width: $desktop) {
        margin-bottom: 0;
        width: 48.7%;
        height: 35rem;
        background-size: cover;
    }
}

.product-quantity-container {
    display: flex;
    justify-content: space-between;
}

.quantity-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.5rem;
    height: 3rem;
    background: var(--c);
    padding: 0 1.25rem 0;
}

.product-promo-text-button-container {
    @media(min-width: $tablet) {
        width: 50%;
    }
}

.overline-text {
    color: var(--a);
    text-align: left;
    margin-top: 7.65vw;

    @media(min-width: $tablet) {
        margin-top: 0;
    }

    @media(min-width: $desktop) {
        text-align: left;
        padding-left: 0;
        margin-bottom: 1.25rem;
    }
}

.section-heading {
    letter-spacing: 0.0625rem;
    line-height: 10vw;
    text-align: left;
    margin: 6.4vw 0 7vw;

    @media(min-width: $tablet) {
        font-size: 5.21vw;
        line-height: 6vw;
        margin: 2.20vw 0 4.25vw 0vw;
    }

    @media(min-width: $desktop) {
        text-align: left;
        padding: 0 28% 0 0;
        font-size: 2.5rem;
        line-height: 2.75rem;
        margin: 0 0 2.5rem;
    }
}

p {
    text-align: left;
    opacity: 0.5;

    @media(min-width: $tablet) {
        text-align: left;
    }

    @media(min-width: $desktop) {
        text-align: left;
        padding: 0 12% 0 0;
    }
}

h6 {
    margin: 1.5rem 0 1.875rem;
}

span {
    font-size: 0.8125rem;
    font-weight: 800;
    letter-spacing: 0.0625rem;
    color: var(--black);
    padding: 1rem;
    margin: -1rem;
}

.quarter-trans {
    opacity: 0.25;
    cursor: pointer;
}