$tablet: 768px;
$desktop: 1024px;
$extended: 1200px;

.checkout-info-container {
    background: var(--white);
    padding: 2rem 1.75rem;
    margin-bottom: 2rem;

    @media(min-width: $desktop) {
        padding: 3rem;
    }
}

h4 {
    letter-spacing: 0.0625rem;
    margin-bottom: 2rem;
}

label {
    font-size: 0.75rem;
    letter-spacing: -0.0131rem;
    font-weight: 700;
}

p {
    font-size: 0.75rem;
    letter-spacing: -0.0131rem;
    font-weight: 700;
    margin-bottom: -0.25rem;
}

.subtitle-text {
    color: var(--a);
    letter-spacing: 0.0581rem;
    font-weight: 700;
}

.form-section-container {
    margin-bottom: 1.5rem; 

    @media(min-width: $tablet) {
        margin-bottom: 3rem;
    }

}

.input-container-main {

    @media(min-width: $tablet) {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}

.input-container {
    margin-top: 1rem;
    position: relative;
}

.input-width-half {
    @media(min-width: $tablet) {
        width: 49%;
    }
}

.input-width-full {
    @media(min-width: $tablet) {
        width: 100%;
    }
}

input {
    border: 0.0625rem var(--g) solid;
    margin: 0.5rem 0;
    height: 3.5rem;
    border-radius: 0.5rem;
    padding-left: 1.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    opacity: 0.4;
}

input:focus {
    outline: 0.0625rem var(--a) solid!important; 
    border: 0.125rem transparent solid;
    opacity: 1!important;
}

.radio-container {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 3.5rem;
    position: relative;

    .radio-btn-container {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 0 0 0.9375rem;
        border: 0.0625rem var(--g) solid;
        border-radius: 50%;
        display: flex;
        opacity: 0.4;
    }

    .radio-dot {
        width: 0.625rem;
        height: 0.625rem;
        background: var(--a);
        border-radius: 50%;
        margin-left: 1.25rem;
        position: absolute;
    }

    label {
        margin-left: 1rem;
        font-size: 0.875rem;
    }

    .radio-border-fill {
        transition: 0s;
        border: 0.0625rem var(--g) solid;
        border-radius: 0.5rem;
        opacity: 0.4;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .radio-error-fill {
        border: 0.0625rem var(--h) solid!important;
        opacity: 1;
    }

    .border-selected {
        border: 0.0625rem var(--a) solid!important;
        opacity: 1;
    }

}

.radio-margin {
    @media(min-width: $tablet) {
        margin-left: 51%;
    }
}

.err-text {
    color: var(--h)!important;
}

.err-border {
    border: 0.0625rem var(--h) solid!important;
    opacity: 1;
}

.input-heading {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.err-text-msg {
    width: 100%;
    position: absolute;
    margin: 0;
    text-align: right;
    color: var(--h)!important;
}