.product-promo-container {
    margin-bottom: 7.5rem;
}

.img-headline {
    width: 100vw;
    height: 88.8vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overline-text {
    color: var(--a);
    text-align: center;
    margin-top: 7.65vw;
}

.section-heading {
    letter-spacing: 0.0625rem;
    line-height: 10vw;
    text-align: center;
    margin: 8.55vw 0 7vw -1.25vw;
    padding: 0 10vw 0;
}

p {
    text-align: center;
    opacity: 0.5;
}

button {
    margin: 1.5rem auto 0;
}