$tablet: 768px;
$desktop: 1024px;
$extended: 1200px;

$height: 136vw;
$padding: 0 13vw 0;
$margin: 0;

@media(min-width: $tablet) {
    $height: 83.205vw;
    $padding: 0 18vw 0;
    $margin: 0 2.4375rem 0;
}

@media(min-width: $desktop) {
    $height: 57vw;
    $padding: 0 38.5rem 0 2.4375rem;
    $margin: 0;
}

@media(min-width: $extended) {
    $height: 39.4375rem;
    $padding: 0 38rem 0 0;
}

.new-product-container {
    background: var(--black);
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;
}
.new-product-boxed-background {
    margin-top: var(--header-height)!important;
    max-width: var(--box-max);
    height: $height;
    width: 100%;
    filter: contrast(1.25);
    background: url('/assets/home/mobile/image-header.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0% 0%;
    background-attachment: fixed;
    display: flex;
    padding: $padding;

    @media(min-width: 575px) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 0%;
        background-attachment: fixed;
    }

    @media(min-width: $tablet) {
        background: url('/assets/home/tablet/image-header.jpg');
        height: 83.205vw;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0% 0%;
        background-attachment: fixed;
        margin: 0 2.4375rem 0;
        padding: 0 18vw 0;
    }

    @media(min-width: 960px) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 0%;
        background-attachment: fixed;
    }

    @media(min-width: $desktop) {
        background: url('/assets/home/desktop/image-hero.jpg');
        height: 57vw;
        max-height: 39.5rem;
        max-width: var(--box-max);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 55% -1vw;
        background-attachment: fixed;
        margin: 0;
        padding: 0 37rem 0 2.4375rem;
    }

    @media(min-width: $extended) {
        padding: 0 38rem 0 0;
        height: 39.4375rem;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 50% 0%;
        background-attachment: fixed;
    }
}

.new-product-boxed-content {
    margin-top: var(--header-height)!important;
    max-width: var(--box-max);
    background: transparent;
    position: absolute;
    width: 100%;
    height: $height;
    display: flex;
    padding: $padding;
    position: fixed;
    z-index: 0;

    @media(min-width: $tablet) {
        margin: 0 2.4375rem 0;
        height: 83.205vw;
        padding: 0 18vw 0;
    }

    @media(min-width: $desktop) {
        height: 57vw;
        max-height: 39.5rem;
        max-width: var(--box-max);
        margin: 0;
        padding: 0 37rem 0 2.4375rem;
    }

    @media(min-width: $extended) {
        padding: 0 38rem 0 0;
        height: 39.4375rem;
    }
}

.overline-text {
    color: var(--white);
    opacity: 0.4964;
    width: 100%;
    text-align: center;
    margin-left: 0.625rem;

    @media(min-width: $desktop) {
        text-align: left;
        margin: 0;
    }
}

.headline-text {
    font-size: 9.6vw;
    font-weight: 600;
    letter-spacing: 0.0806rem;
    line-height: 10.75vw;
    color: var(--white);
    text-align: center;
    margin-top: 1.25rem;

    @media(min-width: $tablet) {
        font-size: 7.2918vw;
        letter-spacing: 0.125rem;
        line-height: 7.5vw;
    }
    @media(min-width: $desktop) {
        font-size: 3.5rem;
        line-height: 3.625rem;
        text-align: left;
        margin-right: auto;
    }
}

p {
    color: var(--white);
    opacity: 0.75;
    margin-top: 1.5rem;
    text-align: center;

    @media(min-width: $tablet) {
        padding: 0 4vw 0;
    }

    @media(min-width: $desktop) {
        text-align: left;
        padding: 0 8vw 0 0;
        margin-right: auto;
    }

    @media(min-width: $extended) {
        padding: 0 10rem 0 0;
    }
}

button {
    margin-top: 2rem;

    @media(min-width: $desktop) {
        margin-right: auto;
    }
}