button {
    font-family: 'Manrope', sans-serif;
    font-size: 0.8125rem;
    line-height: 1.5625rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 700;
    border: 0;
    height: 3rem;
    width: 10rem;

    &:hover {
        cursor: pointer;
    }
}

.btn {
    &-1 {
        background: var(--a);
        color: var(--white);
        text-transform: uppercase;
    }
    &-1:hover {
        background: var(--e);
    }
    &-2 {
        background: var(--white);
        color: var(--black);
        border: 0.0625rem var(--black) solid;
    }
    &-2:hover {
        background: var(--black);
        color: var(--white);
    }
}