$tablet: 768px;
$desktop: 1024px;
$extended: 1110px;

button {
    font-family: 'Manrope', sans-serif;
    font-size: 0.8125rem;
    line-height: 1.5625rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 600;
    border: 0;
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.btn {
    &-1 {
        background: var(--a);
        color: var(--white);
        text-transform: uppercase;
    }
    &-1:hover {
        background: var(--e);
    }
    &-2 {
        background: transparent;
        color: var(--black);
        border: 0.0625rem var(--black) solid;
    }
    &-2:hover {
        background: var(--black);
        color: var(--white);
    }
    &-3 {
        background: transparent;
        color: var(--black);
        opacity: 0.5;
        font-weight: 800;
    }
    &-3 span {
        background: url('https://raw.githubusercontent.com/ChrisP1108/audiophile-e-commerce/gh-pages/assets/shared/desktop/icon-arrow-right.svg');
        width: 8px;
        height: 12px;
        background-repeat: no-repeat;
        color: transparent;
        margin: 0 0 0.0625rem 0.75rem;
    }
    &-3:hover {
        color: var(--a);
        opacity: 1;
    }
    &-4 {
        background: var(--black);
        color: var(--white);
    }
    &-4:hover {
        background: var(--f);
    }
}