:root {
    --a: #D87D4A;
    --b: #101010;
    --c: #F1F1F1;
    --d: #FAFAFA;
    --e: #FBAF85;
    --f: #4C4C4C;
    --white: #ffffff;
    --black: #000000;
    --border-trans: #ffffff31;
    // --border-trans: #e70707;
}
