:root {
    --a: #D87D4A;
    --b: #101010;
    --c: #F1F1F1;
    --d: #FAFAFA;
    --e: #FBAF85;
    --f: #4C4C4C;
    --g: #909090;
    --h: #CD2C2C;
    --white: #ffffff;
    --black: #000000;
    --border-black-trans: #00000015;
    --border-trans: #ffffff31;
}
