/* Header Height For Sticky Top Adjustment */

$tablet: 768px;
$desktop: 1024px;
$extended: 1200px;

:root {
    --header-height: 5.625rem;

    @media(min-width: $tablet) {
        --header-height: 5.625rem;
    }

    @media(min-width: $desktop) {
        --header-height: 6rem;
    }
}

/* Flexbox container styling */

.f {
    display: flex;

    &-c {
        display: flex;
        justify-content: center;
    }

    &-sb {
        display: flex;
        justify-content: space-between;
    }

    &-sb-column {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    &-column {
        display: flex;
        flex-direction: column;
    }

    &-jc {
        display: flex;
        justify-content: center;
    }
    &-ac-column {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &-ac-jc-column {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

/* Border Radius */

.border-curve {   
    border-radius: 0.5rem;
}

