$mobileLarge: 500px;
$tablet : 768px;
$desktop: 1024px;
$extended: 1200px;

:root {
    --box-max: 69.375rem;
    --boxed-padding: 6.4vw;
    --tablet: 768px!important;

    @media(min-width: $mobileLarge) {
        --boxed-padding: 10vw;
    }

    @media(min-width: $tablet) {
        --boxed-padding: 2.4375rem;
    }

    @media(min-width: $extended) {
        --boxed-padding: 3.3125rem;
    }
}

.mobile-only {
    @media(min-width: $tablet) {
        display: none;
    }
}

.tablet-only {
    @media(max-width: $tablet) {
        display: none;
    }
}

.desktop-only {
    @media(max-width: $desktop) {
        display: none;
    }
}