$large-mobile: 600px;
$tablet: 768px;
$desktop: 1024px;
$extended: 1200px;

$yShift: -38%;

.other-product-item-container {
    height: 10.3125rem;
    width: 100%;
    background: var(--c);
    margin: 4.25rem auto 0;
    cursor: pointer;
    max-width: 22.5rem;

    @media(min-width: $tablet) {
        margin: 0;
        width: 28vw;
        max-width: 16.25rem;
    }

    @media(min-width: $desktop) {
        width: 28vw;
        max-width: 20rem;
        height: 12.75rem;
    }

    @media(min-width: $extended) {
        width: 21.875rem;
        max-width: 21.875rem
    }

    &:hover {
        .btn {
            &-3 {
                color: var(--a);
                opacity: 1;
            }
        }
        img {
            transform: translateY($yShift) scale(1.25);
        }
    }
}

img {
    height: 8.75rem;
    position: absolute;
    transform: translateY(-38%);
    z-index: 9;

    @media(min-width: $desktop) {
        height: 13.4575rem!important;
        transform: translateY($yShift);
    }
}


p {
    font-weight: 800;
    letter-spacing: 0.0669rem;
    margin-top: 5.375rem;

    @media(min-width: $desktop) {
        font-size: 1.125rem;
        letter-spacing: 0.0806rem;
        margin-top: 7.5rem;
    }
}