$tablet: 768px;
$desktop: 1024px;
$extended: 1110px;

.app-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    position: relative;
}

router-outlet {
    margin-top: var(--header-height)!important;
}

.cart-checkout-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.5;
    z-index: 10;
    overflow-y: clip!important;
}

app-bottom-headline {
    background: var(--white);
    padding-top: 7.5rem;
    z-index: 1;

    @media(min-width: $tablet) {
        padding-top: 7.5rem;
    }

    @media(min-width: $desktop) {
        padding-top: 10rem;
    }
}

.home-headline-padding {
    @media(min-width: $tablet) {
        padding-top: 6rem!important;
    }
    @media(min-width: $desktop) {
        padding-top: 12.5rem!important;
    }
}

app-cart-modal-list {
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

app-toggle-menu {
    position: fixed;
    z-index: 101;
    width: 100%;
}

app-footer {
    padding-top: 7.5rem;
    background: var(--white);
    z-index: 1;

    @media(min-width: $desktop) {
        padding-top: 10rem;
    }
}