.app-container {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app-boxed {
    max-width: var(--box-max);
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background: var(--black);
    padding: 0 var(--boxed-padding) 0;
}