$mobileLarge: 500px;
$tablet: 768px;
$desktop: 1024px;
$maxed: 1200px;

.promotion1-container {
    background: var(--a); 
    width: 100vw;
    background-image: url('/assets/home/desktop/pattern-circles.svg');
    background-size: 173%;
    background-position: 50% -31vw;
    background-repeat: no-repeat;
    overflow: hidden;

    @media(min-width: $tablet) {
        background-size: 135%;
        background-position: 50% -35vw;
    }

    @media(min-width: $desktop) {
        width: 100%;
        background-size: 90%;
        background-position: -15.5vw -2.5rem;
    }

    @media(min-width: $maxed) {
        width: 100%;
        background-size: 90%;
        background-position: -10.9375rem -2.5rem;
    }

}

.text-and-button1 {
    @media(min-width: $desktop) {
        align-items: flex-start;
        padding-left: 9.375rem;
    }
}


.promotion1-boxed {
    max-width: $tablet;
    padding: 14vw 6.1vw;

    @media(min-width: $mobileLarge) {
        padding: 10vw 6.1vw;
    }

    @media(min-width: $tablet) {
        padding: 8vw 26vw 9.25vw;
    }
    @media(min-width: $desktop) {
        flex-direction: row;
        max-width: 100%;
        padding: 6.16rem 8.5vw 0;
    }
    @media(min-width: $maxed) {
        padding: 6.16rem 5.5rem 0 8.5rem;
    }
}

.img1 {
    width: 60%;

    @media(min-width: $tablet) {
        width: 25.71vw;
    }
    @media(min-width: $desktop) {
        width: 23.75rem;
        transform: translateY(1rem);
    }
}

.img-1-heading {
    margin-top: 10vw;
    font-size: 9.6vw;
    font-weight: 600;
    letter-spacing: 0.125rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--white);
    padding: 0 8vw 0;

    @media(min-width: $mobileLarge) {
        font-size: 3.5rem;
        margin-top: 8vw;
        line-height: 3.625rem;
    }

    @media(min-width: $tablet) {
        font-size: 3.5rem;
        margin-top: 6vw;
        padding: 0;
    }

    @media(min-width: $desktop) {
        width: 100%;
        text-align: left;
        margin-top: 0;
    }
}

p {
    color: var(--white);
    text-align: center;
    margin: 6vw 0 0;

    @media(min-width: $mobileLarge) {
        margin: 6vw 0 0;
    }

    @media(min-width: $tablet) {
        margin: 3vw 0 0;
    }

    @media(min-width: $desktop) {
        text-align: left;
        margin: 1.5rem 0 0;
    }
}

.btn-4 {
    margin: 7vw 0 0;

    @media(min-width: $tablet) {
        margin: 4vw 0 0;
    }
    @media(min-width: $desktop) {
        margin: 3vw 0 0;
    }
    @media(min-width: $maxed) {
        margin: 2.25rem 0 0;
    }
}