<div class="promotion1-container border-curve f-ac-column">
    <div class="promotion1-boxed f-ac-column">
        <img class="img1" src="{{promotionsData[0].image}}" alt="{{promotionsData.name}}">
        <div class="text-and-button1 f-ac-column"> 
            <div class="img-1-heading">{{promotionsData[0].name.toUpperCase()}}</div>
            <p>{{promotionsData[0].headline}}</p>
            <button routerLink="/products/{{promotionsData[0].category}}/{{promotionsData[0].slug}}" 
                class="btn-4">{{ buttonText }}
            </button>
        </div> 
    </div>
</div>
<div class="promotion-2-container border-curve">

</div>

