$tablet: 768px;
$desktop: 1024px;
$extended: 1200px;

.section-checkout-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--d);
    padding: 4.0625rem 0 6.0625rem;
    width: 100vw;

    @media(min-width: $tablet) {
        padding: 6.0625rem 0 7.25rem;
    }

    @media(min-width: $desktop) {
        padding: 8.875rem 0 8.8125rem;
    }

}

.section-checkout-boxed {
    width: 100%;
    padding: 0 var(--boxed-padding) 0;

    @media(min-width: $tablet) {
        padding: 0 5.195% 0;
    }

    @media(min-width: $extended) {
        display: flex;
        padding: 0;
        max-width: var(--box-max);
    }
}

app-cart-modal-list {
    @media(min-width: $extended) {
        margin-left: 1.875rem;
        width: 39.567%;
    }
}