$mobileLarge: 500px;
$tablet: 768px;
$desktop: 1024px;
$extended: 1200px;

.bottom-headline-container {
    background: var(--white);
    width: 100%;
    padding: 0 var(--boxed-padding) 0;

    h4 {
        font-size: 7.5vw;
        letter-spacing: 0.0625rem;
        line-height: 10vw;
        text-align: center;
        padding: 10.7vw 0 7vw;

        @media(min-width: $tablet) {
            font-size: 5.23vw;
            letter-spacing: 0.0894rem;
            line-height: 5.75vw;
            padding: 8.05vw 0 4.17vw;
        }

        @media(min-width: $desktop) {
            font-size: 2.5rem;
            letter-spacing: 0.0894rem;
            line-height: 2.75rem;
            text-align: left;
            padding: 0 0 2rem;
        }
    }
    span {
        color: var(--a);
    }

    p {
        opacity: 0.5;
        text-align: center;

        @media(min-width: $desktop) {
            text-align: left;
        }
    }

    @media(min-width: $desktop) {
        flex-direction: row-reverse;
    }

    @media(min-width: $extended) {
        padding: 0;
        max-width: var(--box-max);
    }
}

.bottom-headline-image {
    width: 100vw;
    height: 75.85vw;
    background-image: url('https://raw.githubusercontent.com/ChrisP1108/audiophile-e-commerce/gh-pages/assets/shared/mobile/image-best-gear.jpg');
    background-size: cover;

    @media(min-width: $tablet) {
        background-image: url('https://raw.githubusercontent.com/ChrisP1108/audiophile-e-commerce/gh-pages/assets/shared/tablet/image-best-gear.jpg');
        height: 38.265vw;
    }

    @media(min-width: $desktop) {
        background-image: url('https://raw.githubusercontent.com/ChrisP1108/audiophile-e-commerce/gh-pages/assets/shared/desktop/image-best-gear.jpg');
        width: 50%;
        height: 36.75rem;
        margin-left: 0.9375rem;
    }

    @media(min-width: $extended) {
        margin: 0;
        width: 33.75rem;
    }
}

.bottom-headline-text-container {
    @media(min-width: $tablet) {
        padding: 0 6.75vw;
    }

    @media(min-width: $desktop) {
        padding: 0 7.25rem 0 0;
        width: 50%;
        margin-right: 0.9375rem;
    }
}