$tablet: 768px;
$desktop: 1024px;
$extended: 1200px;

.section-home-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
    background: var(--white);

}

.section-home-boxed {
    padding: 0 var(--boxed-padding) 0;
    background: var(--white);
    margin: 0;
    width: 100%;
    background: var(--white);
    z-index: 1;

    @media(min-width: $extended) {
        max-width: var(--box-max);
        padding: 0;
    }
}

app-shopping-item-list {
    width: 100%;
    padding-top: 1.5rem;

    @media(min-width: $tablet) {
        padding-top: 9.25rem;
    }

    @media(min-width: $desktop) {
        padding-top: 12.5rem;
    }
}

app-promotions {
    padding-top: 7.5rem;

    @media(min-width: $tablet) {
        padding-top: 6rem;
    }

    @media(min-width: $desktop) {
        padding-top: 10.5rem;
    }
}